Search: <input [(ngModel)]="query" (keyup)="searchPhone()">
Sort by:
<select [(ngModel)]="orderProp" (change)="sortPhone($event)">
  <option value="name">Alphabetical</option>
  <option value="age">Newest</option>
</select>
<h2 *ngIf="selectedPhone">{{ selectedPhone.name }}</h2>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp"
       *ngFor="let phone of filteredPhones" (click)="goToDetail(phone)">
    <div class="mdl-card__media">
      <img src="{{ phone.imageUrl }}" />
    </div>
    <div class="mdl-card__title">
      <h4 class="mdl-card__title-text">{{ phone.name }}</h4>
    </div>
    <div class="mdl-card__supporting-text">
      <span class="mdl-typography--font-light mdl-typography--subhead">{{ phone.snippet }}</span>
    </div>
  </div>
</div>
