<!--<form action="#">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" [(ngModel)]="query" (keyup)="searchPhone()">
    <label class="mdl-textfield__label" for="search">Search</label>
  </div>
</form>-->

<md-input [(ngModel)]="query" (keyup)="searchPhone()" placeholder="Search"></md-input>
<!--<md-input #query placeholder="Search" (keyup)="searchPhone()"></md-input>-->
<!--<input class="mdl-textfield__input" type="text" [(ngModel)]="query" (keyup)="searchPhone()">-->

Sort by:
<select [(ngModel)]="orderProp" (change)="sortPhone($event)">
  <option value="name">Alphabetical</option>
  <option value="age">Newest</option>
</select>
<p *ngIf="filteredPhones">{{ filteredPhones.length }} phone(s) displayed</p>
<div id="phone-list">
  <md-card *ngFor="let phone of filteredPhones" (click)="goToDetail(phone)">
    <div>
      <img src="{{ phone.imageUrl }}" />
    </div>
    <div>
      <h4>{{ phone.name }}</h4>
    </div>
    <div>
      <span>{{ phone.snippet }}</span>
    </div>
  </md-card>
</div>
